<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<title>Insert title here</title>
<style type="text/css">
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
body {
	font-family: 'Noto Sans KR' ;
}
#container {
	
}
#top_title{
	margin-top: 5%;
	text-align: center;
}
#top_hr{
	border: 0;
    text-align: center;
    width: 66%;
    height: 2px;
    background-color: #f8585b;
}
#disp{
	margin-top: 5%;
	text-align: center;
}
#showAnswerList_title{
	margin-left: 20%;
}
#showMessage_top{
	
}
#showTable{
	margin: 3% auto 0 auto;
}
#showMessage{
	text-align: center;
}
#showMessage_mid{
	
}
td{
	border-spacing: 0px;
	padding: 0px;
}
a{
	display:block;
	height: 75px;
}
#top{
	
}
#top_title{

}
#top_round{
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: 20%;
}
#showScore{
	float: right;
    margin-right: 20%;
}
#btnHint{
    background-color: #f8585b;
    border: none;
    border-radius: 25px;
    color: #fff;
    padding: 10px 15px;
    text-align: center;
    font-family: 'Noto Sans KR';
    font-size: 10px;
    margin: 4px;
}
#btnHint:hover {
	font-family: 'Noto Sans KR' ;
    background-color: #ff0005;
}
#hintArea{
	text-align: center;
	margin-top: 3%;
}
#goGame{
	text-align: center;
	margin-top: 3%;
}

		/* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }
    
        /* Modal Content/Box */
        .modal-content {
        	text-align: center;
            background-color: #fefefe;
            margin: 40% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 50%; /* Could be more or less, depending on screen size */                          
        }
        #roundModal-content {
        	text-align: center;
            background-color: #fefefe;
            margin: 40% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 50%; /* Could be more or less, depending on screen size */                          
        }

</style>
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <script type="text/javascript">
  
  /* 이어하기 버튼 클릭 시, 아이디/패스워드 입력 받을 모달 창 등장 */
  function getInfo(){
	  document.getElementById("saveModal").innerHTML = 
	  		"<div class='modal-content'>"
	  		+"<form action = '#' name = 'form_getInfo' method = 'post'>"
	  		+"<legend>기록을 저장한 ID/PW 입력</legend>"
	  		+"ID : <input type = 'text' name = 'name'/><br>"
	  		+"PW : <input type = 'password' name = 'pw'/><br>"
	  		+"</form>"
	  		+"<input type = 'submit' value = '이어하기'/>"
	  		+"<input type = 'button' onclick = \" location.href = '/' \" value = '새로하기'/>"
	  document.getElementById("saveModal").style.display = "block";
  }
  
  </script>
</head>
<body onbeforeunload="closeIt();">

	<div id="container">
	
		<div id="top">
			<h2 id="top_title">결합게임 : 게임 룰 설명</h2>
		</div>
		<hr id="top_hr">

	    <div id="disp">
	    	<iframe width="560" height="315" src="https://www.youtube.com/embed/QUVbVeWz5cs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	    </div>
	    
	    <div id="goGame">
	    	<button id="btnGoGame_1" onclick = " location.href = '/' ">새로하기</button>
	    	<button id="btnGoGame_2" onclick = "getInfo()">이어하기</button>
	    	<button id="btnGoGame_3" href="#">함께하기</button>
	    </div>
	    
	    <!-- The Modal -->    	
    	<div id="saveModal" class="modal">
 			<!-- Modal content -->
 			<div id="saveModal-content"></div>
    	</div>
	    
	</div>

</body>
</html>